.mainContainer {
  display: flex;
  justify-content: flex-start;
  width: 100%;
  background-color: black;
}

.createdBy {
  font-size: 1.4rem;
  color: white;
  margin: 20px;
}

a {
  list-style: none;
  color: white;
  text-decoration: none;
}
