.mainContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.forms {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.input {
  margin: 20px 0;
}

.progressBarContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.progressBarText {
  position: relative;
  margin: 20px 0 10px 0;
}

.progressBar {
  width: 200px;
  height: 20px;
  background-color: lightgray;
  position: relative;
}

.progressLevel {
  position: absolute;
  height: 100%;
  background-color: green;
}
